.search-bar {
  padding: 2rem   1rem;
  float: right;
  right: 10rem;
  display: flex;
  align-items: center;
  background-color: rgb(235, 232, 232);
  height: 40px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 1rem;
  left: 0;
  width: 30%;
  border-radius: 10px;
}

.search-bar input {
  height: 40px;
  padding-left: 7px;
  margin-right: 5px;
  border: none;
  width: 70%;
  background: rgb(235, 232, 232);
  font-size: 18px;
  outline: none;
}

.search-bar button {
  height: 50px;
  border-radius: 10px;
  width: 40%;
  right: 0;
  margin-left: 40%;
  font-size: 20px;
  border: none;
  background-color: rgb(12, 4, 85);
  color: rgb(252, 249, 249);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .search-bar {
    width: 90%;
  }

  .search-bar button {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .search-bar {
    width: 90%;
  }
}
